/* utk index.html */
@media screen and (max-width: 480px) {
    .container-search-bar {
        display: none;
    }

    nav {
        display: none;
    }

    .slider {
        height: 200px;
    }

    .ftr-container {
        width: 45%;
    }

    .ftr-title {
        width: 100%;
    }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
    .container-search-bar {
        display: none;
    }

    nav {
        display: none;
    }

    .ftr-container {
        width: 30%;
    }
}

